# __President Polls Dataset - Descriptive Analysis__

In [2]:
import pandas as pd
import numpy as np

In [3]:
polls_df = pd.read_csv("president_polls_2016.csv")

In [6]:
polls_df.shape

(12624, 27)

In [7]:
polls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12624 entries, 0 to 12623
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cycle             12624 non-null  int64
 1   branch            12624 non-null  object
 2   type              12624 non-null  object
 3   matchup           12624 non-null  object
 4   forecastdate      12624 non-null  object
 5   state             12624 non-null  object
 6   startdate         12624 non-null  object
 7   enddate           12624 non-null  object
 8   pollster          12624 non-null  object
 9   grade             11337 non-null  object
 10  samplesize        12621 non-null  float64
 11  population        12624 non-null  object
 12  poll_wt           12624 non-null  float64
 13  rawpoll_clinton   12624 non-null  float64
 14  rawpoll_trump     12624 non-null  float64
 15  rawpoll_johnson   8397 non-null   float64
 16  rawpoll_mcmullin  90 non-null     float64
 17  adjpoll_clinton   12624 non-null  float64
 18  adjpoll_trump     12624 non-null  float64
 19  adjpoll_johnson   8397 non-null   float64
 20  adjpoll_mcmullin  90 non-null     float64
 21  multiversions     36 non-null     object
 22  url               12621 non-null  object
 23  poll_id           12624 non-null  int64
 24  question_id       12624 non-null  int64
 25  createddate       12624 non-null  object
 26  timestamp         12624 non-null  object
dtypes: float64(10), int64(3), object(14)
memory usage: 2.6+ MB

In [ ]:
# ["createddate", "timestamp"]: datatypes need to be changed to datetime

In [8]:
polls_df.head(3)

,cycle,branch,type,matchup,forecastdate,state,startdate,enddate,pollster,grade,...,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,multiversions,url,poll_id,question_id,createddate,timestamp
0,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.,11/3/2016,11/6/2016,ABC News/Washington Post,A+,...,45.20163,41.72430,4.626221,NaN,NaN,https://www.washingtonpost.com/news/the-fix/wp...,48630,76192,11/7/16,09:35:33 8 Nov 2016
1,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.,11/1/2016,11/7/2016,Google Consumer Surveys,B,...,43.34557,41.21439,5.175792,NaN,NaN,https://datastudio.google.com/u/0/#/org//repor...,48847,76443,11/7/16,09:35:33 8 Nov 2016
2,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.,11/2/2016,11/6/2016,Ipsos,A-,...,42.02638,38.81620,6.844734,NaN,NaN,http://projects.fivethirtyeight.com/polls/2016...,48922,76636,11/8/16,09:35:33 8 Nov 2016

In [9]:
polls_df.tail(2)

,cycle,branch,type,matchup,forecastdate,state,startdate,enddate,pollster,grade,...,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,multiversions,url,poll_id,question_id,createddate,timestamp
12622,2016,President,polls-only,Clinton vs. Trump vs. Johnson,11/8/16,Virginia,9/30/2016,10/6/2016,Ipsos,A-,...,49.57558,39.96954,NaN,NaN,NaN,http://www.reuters.com/statesofthenation/,46675,72969,10/10/16,09:14:14 8 Nov 2016
12623,2016,President,polls-only,Clinton vs. Trump vs. Johnson,11/8/16,Wisconsin,6/9/2016,6/12/2016,Marquette University,A,...,46.40999,39.19839,NaN,NaN,NaN,https://law.marquette.edu/poll/2016/06/15/new-...,44341,66966,6/15/16,09:14:14 8 Nov 2016

In [11]:
polls_df["cycle"].head()

0    2016
1    2016
2    2016
3    2016
4    2016
Name: cycle, dtype: int64

In [12]:
polls_df["cycle"].unique() # unique values of the column

array([2016], dtype=int64)

In [13]:
polls_df["cycle"].nunique() # number of unique values

1

In [14]:
polls_df["grade"].unique()

array(['A+', 'B', 'A-', 'B-', 'A', nan, 'B+', 'C+', 'C-', 'C', 'D'],
      dtype=object)

In [15]:
polls_df["grade"].nunique()

10

In [17]:
polls_df.nunique()

cycle                   1
branch                  1
type                    3
matchup                 1
forecastdate            1
state                  57
startdate             352
enddate               345
pollster              196
grade                  10
samplesize           1766
population              4
poll_wt              4399
rawpoll_clinton      1312
rawpoll_trump        1385
rawpoll_johnson       584
rawpoll_mcmullin       16
adjpoll_clinton     12569
adjpoll_trump       12582
adjpoll_johnson      6629
adjpoll_mcmullin       57
multiversions           1
url                  1304
poll_id              4208
question_id          4208
createddate           222
timestamp               3
dtype: int64

In [27]:
polls_df.iloc[0:5,0:6]

,cycle,branch,type,matchup,forecastdate,state
0,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.
1,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.
2,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.
3,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.
4,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.

In [30]:
polls_df.columns
polls_df[['cycle', 'branch']]

       cycle     branch
0       2016  President
1       2016  President
2       2016  President
3       2016  President
4       2016  President
...      ...        ...
12619   2016  President
12620   2016  President
12621   2016  President
12622   2016  President
12623   2016  President

[12624 rows x 2 columns]

In [43]:
# for col in polls_df:
#     print(polls_df[col].unique()[:3])
    
polls_df.apply(pd.unique)

cycle                                                          [2016]
branch                                                    [President]
type                               [polls-plus, now-cast, polls-only]
matchup                               [Clinton vs. Trump vs. Johnson]
forecastdate                                                [11/8/16]
state               [U.S., New Mexico, Virginia, Iowa, Wisconsin, ...
startdate           [11/3/2016, 11/1/2016, 11/2/2016, 11/4/2016, 1...
enddate             [11/6/2016, 11/7/2016, 11/5/2016, 11/4/2016, 1...
pollster            [ABC News/Washington Post, Google Consumer Sur...
grade                       [A+, B, A-, B-, A, nan, B+, C+, C-, C, D]
samplesize          [2220.0, 26574.0, 2195.0, 3677.0, 16639.0, 129...
population                                             [lv, rv, a, v]
poll_wt             [8.720654, 7.628472, 6.424334, 6.087135, 5.316...
rawpoll_clinton     [47.0, 38.03, 42.0, 45.0, 48.0, 44.0, 46.0, 41...
rawpoll_trump       [43.0, 35.69, 39.0, 41.0, 44.0, 40.0, 42.7, 46...
rawpoll_johnson     [4.0, 5.46, 6.0, 5.0, 3.0, 7.1, 1.0, 2.0, nan,...
rawpoll_mcmullin    [nan, 24.0, 27.6, 24.52, 25.0, 21.0, 28.0, 30....
adjpoll_clinton     [45.20163, 43.34557, 42.02638, 45.65676, 46.84...
adjpoll_trump       [41.7243, 41.21439, 38.8162, 40.92004, 42.3318...
adjpoll_johnson     [4.626221, 5.175792, 6.844734, 6.069454, 3.726...
adjpoll_mcmullin    [nan, 24.0, 27.70142, 24.13522, 24.52, 25.0, 2...
multiversions                                                [nan, *]
url                 [https://www.washingtonpost.com/news/the-fix/w...
poll_id             [48630, 48847, 48922, 48687, 48848, 48619, 485...
question_id         [76192, 76443, 76636, 76262, 76444, 76163, 760...
createddate         [11/7/16, 11/8/16, 11/6/16, 11/4/16, 11/5/16, ...
timestamp           [09:35:33  8 Nov 2016, 09:24:53  8 Nov 2016, 0...
dtype: object

In [44]:
polls_df["state"].nunique()

57

In [46]:
polls_df["state"].value_counts().head()

U.S.              3318
Florida            444
North Carolina     375
Pennsylvania       375
Ohio               345
Name: state, dtype: int64

In [60]:
(polls_df["state"].value_counts()/polls_df["state"].count())*100

polls_df["state"].value_counts(normalize=True)*100

U.S.                    26.283270
Florida                  3.517110
North Carolina           2.970532
Pennsylvania             2.970532
Ohio                     2.732890
New Hampshire            2.661597
Nevada                   2.210076
Virginia                 2.162548
Michigan                 2.043726
Wisconsin                1.901141
Georgia                  1.901141
Colorado                 1.901141
Arizona                  1.877376
California               1.687262
Iowa                     1.663498
Missouri                 1.615970
Utah                     1.568441
New York                 1.497148
Illinois                 1.425856
Texas                    1.378327
Indiana                  1.330798
New Jersey               1.283270
Oregon                   1.283270
Maine                    1.259506
South Carolina           1.235741
Washington               1.211977
Massachusetts            1.211977
New Mexico               1.211977
Kansas                   1.211977
Louisiana                1.188213
Kentucky                 1.164449
Idaho                    1.140684
Minnesota                1.140684
Maryland                 1.116920
West Virginia            1.116920
Tennessee                1.093156
Arkansas                 1.069392
Oklahoma                 1.045627
Connecticut              1.045627
Alabama                  1.021863
Mississippi              1.021863
Nebraska                 0.998099
Montana                  0.974335
Delaware                 0.950570
Alaska                   0.903042
South Dakota             0.879278
Vermont                  0.831749
North Dakota             0.736692
Rhode Island             0.689163
Wyoming                  0.689163
Hawaii                   0.665399
District of Columbia     0.617871
Maine CD-2               0.332700
Maine CD-1               0.261407
Nebraska CD-2            0.047529
Nebraska CD-3            0.023764
Nebraska CD-1            0.023764
Name: state, dtype: float64

In [66]:
polls_df[['state', 'grade']].head(10)

        state grade
0        U.S.    A+
1        U.S.     B
2        U.S.    A-
3        U.S.     B
4        U.S.    B-
5        U.S.     A
6        U.S.    A-
7        U.S.    A-
8  New Mexico   NaN
9        U.S.    A-

In [111]:
polls_df.groupby('state')['grade'].value_counts()['U.S.'] #['A-']

polls_df[['state', 'grade']].value_counts()['U.S.']

grade
A-    1215
C+     546
B      162
C-     126
A+     114
B+     105
B-      96
A       87
C        3
dtype: int64

In [117]:
polls_df['type'].unique()
polls_df[polls_df['state'] == 'U.S.']['grade'] == 'A-'

0        False
1        False
2         True
3        False
4        False
         ...
12461    False
12462     True
12463    False
12557    False
12569    False
Name: grade, Length: 3318, dtype: bool

In [4]:
# drop columns 'cycle', 'branch'
polls_df.drop(['cycle','branch'], axis=1, inplace=True)
len(polls_df.columns)

25

In [7]:
# Class 5
df = polls_df
df.shape

(12624, 25)

In [8]:
df.columns

Index(['type', 'matchup', 'forecastdate', 'state', 'startdate', 'enddate',
       'pollster', 'grade', 'samplesize', 'population', 'poll_wt',
       'rawpoll_clinton', 'rawpoll_trump', 'rawpoll_johnson',
       'rawpoll_mcmullin', 'adjpoll_clinton', 'adjpoll_trump',
       'adjpoll_johnson', 'adjpoll_mcmullin', 'multiversions', 'url',
       'poll_id', 'question_id', 'createddate', 'timestamp'],
      dtype='object')

In [11]:
# df.info()
# Renaming column names
renaming_dic = { 'rawpoll_clinton':'clinton_believers_pc', 'rawpoll_trump':'trump_believers_pc', 'rawpoll_johnson':'johnson_believers_pc', 'rawpoll_mcmullin':'mcmullin_believers_pc'}
df.rename(columns = renaming_dic, inplace = True)
df.columns

Index(['type', 'matchup', 'forecastdate', 'state', 'startdate', 'enddate',
       'pollster', 'grade', 'samplesize', 'population', 'poll_wt',
       'clinton_believers_pc', 'trump_believers_pc', 'johnson_believers_pc',
       'mcmullin_believers_pc', 'adjpoll_clinton', 'adjpoll_trump',
       'adjpoll_johnson', 'adjpoll_mcmullin', 'multiversions', 'url',
       'poll_id', 'question_id', 'createddate', 'timestamp'],
      dtype='object')

In [15]:
for k,v in renaming_dic.items():
    print('key: '+k+' ; value: '+v)

key: rawpoll_clinton ; value: clinton_believers_pc
key: rawpoll_trump ; value: trump_believers_pc
key: rawpoll_johnson ; value: johnson_believers_pc
key: rawpoll_mcmullin ; value: mcmullin_believers_pc

In [19]:
# How to find and fix missing values
dff = pd.read_csv("C://Users//USER//JupyterLab//mortality_missing_values.csv")

In [24]:
dff.shape
dff.shape[0]

476

In [23]:
dff.count()

Year         473
AgeGroup     476
DeathRate    472
dtype: int64

In [29]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       473 non-null    float64
 1   AgeGroup   476 non-null    object
 2   DeathRate  472 non-null    float64
dtypes: float64(2), object(1)
memory usage: 11.3+ KB

In [33]:
# Counting missing values
dff.isnull().sum()

Year         3
AgeGroup     0
DeathRate    4
dtype: int64

In [44]:
# print missing values rows
dff[dff.isnull().any(axis = 1)]

     Year     AgeGroup  DeathRate
1     NaN  01-04 Years     1695.0
2  1902.0  01-04 Years        NaN
4     NaN  01-04 Years        NaN
6     NaN  01-04 Years        NaN
7  1907.0  01-04 Years        NaN

In [46]:
dff[dff['DeathRate'].isnull()]

     Year     AgeGroup  DeathRate
2  1902.0  01-04 Years        NaN
4     NaN  01-04 Years        NaN
6     NaN  01-04 Years        NaN
7  1907.0  01-04 Years        NaN

In [49]:
# not missing values rows
dff[dff['DeathRate'].notnull()]

       Year     AgeGroup  DeathRate
0    1900.0  01-04 Years     1983.8
1       NaN  01-04 Years     1695.0
3    1903.0  01-04 Years     1542.1
5    1905.0  01-04 Years     1498.9
8    1908.0  01-04 Years     1396.8
..      ...          ...        ...
471  2014.0  15-19 Years       45.5
472  2015.0  15-19 Years       48.3
473  2016.0  15-19 Years       51.2
474  2017.0  15-19 Years       51.5
475  2018.0  15-19 Years       49.2

[472 rows x 3 columns]

In [54]:
# counting missing value records
dff[dff.isnull().any(axis = 1)].shape[0]

5

In [55]:
# drop missing values
dff.dropna() # returns 471 rows, because it deleted 5 (total was 476)
# dropna drops any row with at least 1 missing value

       Year     AgeGroup  DeathRate
0    1900.0  01-04 Years     1983.8
3    1903.0  01-04 Years     1542.1
5    1905.0  01-04 Years     1498.9
8    1908.0  01-04 Years     1396.8
9    1909.0  01-04 Years     1348.9
..      ...          ...        ...
471  2014.0  15-19 Years       45.5
472  2015.0  15-19 Years       48.3
473  2016.0  15-19 Years       51.2
474  2017.0  15-19 Years       51.5
475  2018.0  15-19 Years       49.2

[471 rows x 3 columns]

In [73]:
# display the rows containing 2+ missing fields

dff[dff.isnull().sum(axis=1) > 1]

   Year     AgeGroup  DeathRate
4   NaN  01-04 Years        NaN
6   NaN  01-04 Years        NaN

In [74]:
# droping rows that contain 2+ missing values

dff.dropna( thresh=2 , inplace=False)

       Year     AgeGroup  DeathRate
0    1900.0  01-04 Years     1983.8
1       NaN  01-04 Years     1695.0
2    1902.0  01-04 Years        NaN
3    1903.0  01-04 Years     1542.1
5    1905.0  01-04 Years     1498.9
..      ...          ...        ...
471  2014.0  15-19 Years       45.5
472  2015.0  15-19 Years       48.3
473  2016.0  15-19 Years       51.2
474  2017.0  15-19 Years       51.5
475  2018.0  15-19 Years       49.2

[474 rows x 3 columns]

In [76]:
# drop rows that contain missing values within the 'DeathRate' column
dff.dropna(subset = ['DeathRate'], inplace =False)

       Year     AgeGroup  DeathRate
0    1900.0  01-04 Years     1983.8
1       NaN  01-04 Years     1695.0
3    1903.0  01-04 Years     1542.1
5    1905.0  01-04 Years     1498.9
8    1908.0  01-04 Years     1396.8
..      ...          ...        ...
471  2014.0  15-19 Years       45.5
472  2015.0  15-19 Years       48.3
473  2016.0  15-19 Years       51.2
474  2017.0  15-19 Years       51.5
475  2018.0  15-19 Years       49.2

[472 rows x 3 columns]

In [79]:
# Imputation
# substitute with the mean
dff['DeathRate'].fillna(value = dff['DeathRate'].mean(), inplace=True)

In [82]:
# Forward fill
dff.fillna(method = "ffill", limit=2, inplace=True)
# now we dont have to specify 'Year' column bc is the only column missing values

In [83]:
dff.isnull().sum()

Year         0
AgeGroup     0
DeathRate    0
dtype: int64

In [84]:
# Interpolate

dff.interpolate(method='linear')

       Year     AgeGroup    DeathRate
0    1900.0  01-04 Years  1983.800000
1    1900.0  01-04 Years  1695.000000
2    1902.0  01-04 Years   181.221186
3    1903.0  01-04 Years  1542.100000
4    1903.0  01-04 Years   181.221186
..      ...          ...          ...
471  2014.0  15-19 Years    45.500000
472  2015.0  15-19 Years    48.300000
473  2016.0  15-19 Years    51.200000
474  2017.0  15-19 Years    51.500000
475  2018.0  15-19 Years    49.200000

[476 rows x 3 columns]